* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

li {
  list-style: none;
}
a {
  color: #202124;
  text-decoration: none;
  font-size: 16px;
}
a:hover {
  text-decoration: underline;
}
.icon {
  width: 30px;
  height: 30px;
  stroke: #7c7979;
  fill: white;
  background-color: white; /* Цвет фона иконки */
  padding: 0;
  margin: 0;
  border-radius: 50%;
}
button .icon {
  background-color: #fff;
}
.violet {
  background-color: #7b1ea2;
  border-radius: 50%;
  color: #fff;
  padding: 12px 20px;
  border: none;
  font-weight: 400;
  font-size: 20px;
}
.violet:hover {
  background-color: #450860;
}
h1 {
  text-align: center;
  font-size: 80px;
  letter-spacing: -12px;
  font-weight: lighter;
  margin: 30px 0 0 0;
}
span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.span-color1 {
  font-size: 88px;
}
.span-color1,
.span-color4 {
  color: #4284f3;
}
.span-color2,
.span-color6 {
  color: #ea4335;
}
.span-color3 {
  color: #fabc05;
}
.span-color5 {
  color: #33a852;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.input-wrap {
  position: relative;
}
input {
  display: flex;
  z-index: 3;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 32px;
  margin: 0 auto;
  width: 40%;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
}
input:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.input-mr {
  margin-top: 24px;
  margin-bottom: 24px;
}
.form-icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 600px;
  width: 24px;
  height: 24px;
  fill: #7c7979;
  /* stroke: #7c7979; */
}
.bt-search {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
}
.bt-search1,
.bt-search2 {
  padding: 12px 24px 12px 24px;
  border: none;
  font-size: 20px;
  color: #202124;
  background-color: rgba(251, 248, 248, 0.806);
}
.bt-search1:hover,
.bt-search2:hover {
  border: #5f5f61;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-radius: 4px;
}
.bt-search1,
.bt-search2 a {
  text-decoration: none;
  font-size: 20px;
}
p {
  font-size: 20px;
}
p a {
  color: blue;
}

.list-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  align-items: center;
}

.list-container2 {
  margin-left: auto;
}
.list-container1 a {
  margin-right: 30px;
}
.list-container2 a {
  margin-left: 30px;
}
.list-container3 {
  margin-left: 40px;
  margin-right: 20px;
}
.bt-icon {
  padding: 0;
  background-color: white;
  border-color: white;
}
.bt-icon:hover {
  stroke: #7b1ea2;
}
footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
}

footer p {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer1 {
  border-bottom: solid;
  border-color: rgb(190, 188, 188);
}
